/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Estilos del contenedor principal */
main {
    margin: 2rem;
    text-align: center;
}

/* Estilo para el botón */
button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Hover en el botón */
button:hover {
    background-color: #0056b3;
}

/* Área de información */
#infoSection {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
